# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

# Specify text files and set the line endings to LF (Unix-style)
* text eol=lf

# Explicitly specify binary files to avoid line-ending normalization
*.jpg binary
*.png binary
