<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="justify-center mb-8 text-4xl font-bold text-center">Books</h1>
  </div>

  <div id="books" class="grid min-w-full grid-cols-4 gap-3">
      <%= render partial: "books/book_list", collection: @books, as: :book %>
  </div>
</div>
