<footer class="w-full p-4 mt-8 text-center bg-gray-600">
    <span class="text-sm logo">© <%= Date.current.year %>  <%= link_to "Web Library", books_path, class: "logo hover:underline mr-3 ml-3" %> All Rights Reserved.
    </span>
</footer>
